#ep_permanent_exporter label {
  display: block;
}

#ep_permanent_exporter input[type="checkbox"] {
  opacity: 1;
  pointer-events: auto;
  position: static;
}

.ep_permanent_exporter-hidden {
  display: none;
}
