<section id="ep_permanent_exporter">
  <img src="../static/plugins/ep_permanent_exporter/static/images/permanent-logo.svg">
  <form id="ep_permanent_exporter-export-form">
    <label>
      <input type="checkbox" id="ep_permanent_exporter-export" name="export">
      Export to Permanent
    </label>
    <label>
      Permanent.org user cookie:
      <input type="text" id="ep_permanent_exporter-cookie" name="cookie">
    </label>
    <input type="submit" id="ep_permanent_exporter-submit" value="Save">
  </form>
</section>
