<section id="ep_permanent_exporter">
  <img src="../static/plugins/ep_permanent_exporter/static/images/permanent-logo.svg">
  <div id="ep_permanent_exporter-monetization-missing">
    Syncing to Permanent.org requires web monetization to be enabled!
    Please install the <a href="https://coil.com/">COIL</a> extension.
  </div>
  <div
    id="ep_permanent_exporter-monetization-loading"
    class="ep_permanent_exporter-hidden"
  >
    Thank you for installing the <a href="https://coil.com/">COIL</a> extension!
    Please wait while payments begin...
  </div>
  <div
    id="ep_permanent_exporter-monetization-started"
    class="ep_permanent_exporter-hidden"
  >
    <div id="ep_permanent_exporter-log-in">
      Please <a href="<%- loginUrl %>">log in</a> to your Permanent account!
    </div>
    <div
      id="ep_permanent_exporter-log-in-pending"
      class="ep_permanent_exporter-hidden"
    >
      Please wait while we validate your credentials.
    </div>
    <div
      id="ep_permanent_exporter-sync-disabled"
      class="ep_permanent_exporter-hidden"
    >
      Automatic sync to Permanent archive is not currently enabled.
      <form id="ep_permanent_exporter-export-form-enable">
        <input type="submit" value="Enable">
      </form>
    </div>
    <div
      id="ep_permanent_exporter-sync-pending"
      class="ep_permanent_exporter-hidden"
    >
      Enabling automatic sync to Permanent archive;
      please wait while we validate your credentials.
    </div>
    <div
      id="ep_permanent_exporter-sync-enabled"
      class="ep_permanent_exporter-hidden"
    >
      Automatic sync to Permanent archive enabled!
      <form id="ep_permanent_exporter-export-form-disable">
        <input type="submit" value="Disable">
      </form>
    </div>
  </div>
</section>
